beautifulsoup4~=4.10.0
requests~=2.27.1
pillow
wheel
faust-cchardet
docopt~=0.6.2
ordered-set-minghu6
color-print
hy
PySimpleGUI~=4.57.0
simple-term-menu
prompt_toolkit
shell-op @ git+https://github.com/minghu6/shell-op@develop
schema
setuptools
packaging
